{% extends 'base.html.twig' %}

{% block title %}Interest{% endblock %}

{% block body %}
    <h1>Interest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interest.id }}</td>
            </tr>
            <tr>
                <th>Activityname</th>
                <td>{{ interest.activityname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ interest.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ interest.link }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ interest.path }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('interest_index') }}">back to list</a>

    <a href="{{ path('interest_edit', {'id': interest.id}) }}">edit</a>

    {{ include('interest/_delete_form.html.twig') }}
{% endblock %}
